.App {
  text-align: center;
}
.App-header {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.updateInformation {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Information {
  background-color: #6495ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleForm {
  color: #fff;
  font-size: 35px;
}

.boxForm {
  background-color: #6495ed;
  border-radius: 10px;
  width: 430px;
  height: 530px;
}

.boxFormUpdate {
  background-color: #6495ed;
  border-radius: 10px;
  width: 430px;
  height: 530px;
}

.textUpdate {
  color: #fff;
  padding: 20px;
  font-size: 25px;
}

.boxIformation {
  width: 25%;
}

.userInformation {
  background-color: #4169e1;
  color: #fff;
  list-style-type: none;
  font-size: 20px;
  padding: 10px;
}
